<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>demo.Hello</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>URLParameter</servlet-name>
        <servlet-class>gui.URLParameter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>URLParameter</servlet-name>
        <url-pattern>/URLParameter</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>parameters</servlet-name>
        <jsp-file>/parameters.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>parameters</servlet-name>
        <url-pattern>/parameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manipulation</servlet-name>
        <jsp-file>/manipulation.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>manipulation</servlet-name>
        <url-pattern>/manipulation</url-pattern>
    </servlet-mapping>


    <!--
    <servlet>
        <servlet-name>includes</servlet-name>
        <jsp-file>/includes.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>includes</servlet-name>
        <url-pattern>/includes</url-pattern>
    </servlet-mapping>
    -->






</web-app>